*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Variables */
        /* Colors */
    --backbackground-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

        /* Fonts */
            /* Family */
    --font-family: "Inter", sans-serif;
            /* Size */
    --fs-lg: 2.5rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
            /* Weight */
    --fw-bold: 700;
    --fw-semiBold: 600;
    --fw-medium: 500;
    --fw-base: 400;
            /* Line-height */
    --lh-lg: 2rem;
    --lh-medium: 1.25rem;
    --lh-sm: 1rem;

        /* Padding Inline */
    --px: 2rem;
}
html{
    font-family: var(--font-family);
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
    line-height: normal;
}
body{
    background-color: var(----backbackground-primary);
}
h1{
    font: var(--fw-bold) var(--fs-lg) var(--font-family);
    line-height: var(--lh-lg);
}
p{
    font: var(--fw-medium) var(--fs-base) var(--font-family);
    line-height: var(--lh-medium);
}
label{
    font: var(--fw-semiBold) var(--fs-base) var(--font-family);
    line-height: var(--lh-medium);
}
a{
    font: var(--fw-medium) var(--fs-sm) var(--font-family);
    line-height: var(--lh-sm);
    text-decoration: none;
}