#main{
    max-width: 85.375rem;
    width: calc(100% - (var(--px) * 2));
    margin: auto;

    & .logo{
        max-width: fit-content;
        height: fit-content;
        margin: auto;

        padding-top: 1.5625rem;
    }

    & header{
        max-width: 39.1875rem;
        width: 100%;
        margin: auto;

        
        & nav{
            padding-bottom: 1rem;
            & a{
                color: var(--color-brand);
            }
        }
    }
}