#profile{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-block: 120px 183px;
   gap: 80px;
   
   header{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 56px;

      div{
         position: relative;
         /* Config IMG */
         img:nth-child(1){
         width: 96px;
         height: 96px;
         object-fit: cover;
         border-radius: 50%;
         /* Img Border */
         border: 3px solid var(--red);
         padding: 5px;
         }
         /* SVG Code Position */
         img:nth-child(2){
            position: absolute;

            bottom: 6px;
            right: -9px ;
            /* left: 60px;
            top: 75px; */
         }
      }
      #text{
         text-align: center;
         max-width: 680px;
      }   
   }

}

#skills ul{
   display: flex;
   flex-direction: row;
}