#profile{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-block: 120px 183px;
   gap: 56px;
   

   img{
      width: 90px;
      height: 90px;
      object-fit: cover;

      border-radius: 50%;

      margin-bottom: 56px;
   }
}

#text{
   text-align: center;
   max-width: 680px;
}

#skills ul{
   display: flex;
   flex-direction: row;
}