#projects{
    padding-inline: 43px;

    .card{
        background-color: var(--gray-300);
        border: 2px solid var(--gray-300);
        padding: 12px;
        border-radius: 12px;
        text-decoration: none;

        img{
        width: 306px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom:20px;
        }

        &:hover{
        border: 2px solid var(--gray-400);
        }
    }
}

.card-text{
    padding: 4px;
    h3{
        font: var(--title-sm);
        color: var(--gray-600);
        padding-bottom: 8px;
    }
    span{
        font: var(--text-sm);
        color: var(--gray-500);
    }
}

#services{
    width: 1366px;
    padding-block: 88px 120px;
    background-color: var(--gray-100);

    section{
        padding-inline: 119px;

        figure{
            border: 2px solid var(--gray-300);
            border-radius: 12px;

            padding: 20px;

            img{
                width: 48px;
                stroke: blue;
                margin-bottom: 20px;
            }
        }
    }
}

#contact{
    background-image: url(../assets/bg/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-block: 72px 200px;
    gap: 48px;

    p{
        color: var(--purple);
    }
    span{
        color: var(--gray-500);
        font: var(--text-md);
    }

    div{
        position: relative;
        a{
            display: flex;
            gap: 12px;
            align-items: center;
            background-color: var(--gray-300);
            width: 400px;
            padding: 20px;
            border-radius: 8px;
            font: var(--text-md);
            color: var(--gray-500); 
        }
        img+img{
            width: 20px;
            position: absolute;
            right: 20px;
        }
    }
}
