#projects{
    padding-inline: 43px;

    .card{
        background-color: var(--gray-300);
        border: 2px solid var(--gray-300);
        padding: 12px;
        border-radius: 12px;
        text-decoration: none;

        img{
        width: 306px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom:20px;
        }

        &:hover{
        border: 2px solid var(--gray-400);
        }
    }
}

.card-text{
    padding: 4px;
    h3{
        font: var(--title-sm);
        color: var(--gray-600);
        padding-bottom: 8px;
    }
    span{
        font: var(--text-sm);
        color: var(--gray-500);
    }
}

#services{
    width: 1366px;
    padding-block: 88px 120px;
    background-color: var(--gray-100);

    section{
        padding-inline: 119px;
        
        figure{
            border: 2px solid var(--gray-300);
            border-radius: 12px;

            padding: 20px;

            img{
                width: 48px;
                stroke: blue;
                margin-bottom: 20px;
            }
        }
    }
}
