@import url(./fields/index.css);

fieldset{
    border: none;
}

legend{
    font: var(--heading-sm);
    color: var(--text-heading);
}

.legend{
    display: flex;
    gap: 0.75rem;
    align-items: center;

    & .about-image{
        background-image: url(./../assets/icons/calendar.svg);
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
    }

    & .customize-image{
        background-image: url(./../assets/icons/paintbrush-vertical.svg);
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
    }

}

.about-event{
    & .form-wrapper{
        grid-template-columns: 50% 50%;
    }
}
