.grid{
    display: grid;
}
.grid-col-1{
    grid-column: 1 / -1;
}
.gap-16{
    gap: 1rem;
}
.gap-24{
    gap: 1.5rem;
}
.gap-28{
    gap: 1.75rem;
}
.gap-40{
    gap: 2.5rem;
}
.gap-48{
    gap: 3rem;
}