/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* list-style: none; */
}
/* General Settings  */
:root{
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #1E1E1E;
}
img{
    border-radius: 29px;
}
li::marker{
    color: black;
}
/* Page settings - Margin - Padding - List Itens*/
#page{
    background-color: #29292E;
    width: 1440px;
    margin: 80px auto;
    padding: 80px;
    border-radius: 40px;
}
main {
    background-color: #F5F4F0;
    width: 1280px;
    margin: auto;
}
#container{
    width: 1120px;
    margin: auto;
}
#about {
    padding-top: 88px;
}
#about p{
    margin-bottom: 8px;
}
#about h1{
    margin-bottom: 44px;
}
#about img {
    margin-bottom: 24px;
}
#about p:last-child{
    text-align: center;
    margin-bottom: 44px;
}
#discover{
    margin: 64px 0;
}
#discover p:first-child{
    margin-bottom: 2px;
}
#discover h2{
    margin-bottom: 8px;
}
#haedong h3 {
    margin-top: 20px;
    margin-bottom: 4px;
}
#haedong p + p{
    margin-top: 20px;
    font-weight: bold;
}
 #haedong li{
     margin-left: 20px;
     color: blue;
     font-weight: bold;
}
#beomeo{
    margin: 48px 0;
}
#beomeo h3{
    margin-top: 20px;
    margin-bottom: 4px;
}
#beomeo p + p{
    margin-top: 20px;
    font-weight: bold;
}
#beomeo li{
     margin-left: 20px;
     color: blue;
     font-weight: bold;
}
#yongdusan{
    margin-bottom: 40px;
}
#yongdusan h3{
    margin-top: 20px;
    margin-bottom: 4px;
}
#yongdusan p + p{
    margin-top: 20px;
    font-weight: bold;
}
#yongdusan li{
    margin-left: 20px;
    font-weight: bold;
}
#yongdusan li:first-child{
    color: #591B98;
}
#yongdusan li:nth-child(2){
    color: #E5245E;
}
#yongdusan li:last-child{
    color: #E95E10;
}
#synthase{
    margin: 40px 0 7px ;
    text-align: center;
}
#footer{
    text-align: center;
    padding-bottom: 48px;
}
/* Text and color settings */
.headline{
    font-size: 16px;
    color: #E1624F;
    text-transform: uppercase;
    font-weight: bold;
}
.title-H1{
    font-size: 36px;
    color: #1B1B1B;
    font-weight: bold;
}
.title-H2{
    font-size: 32px;
    color: #1B1B1B;
    font-weight: bold;
}
.title-H3{
    font-size: 28px;
    color: #1B1B1B;
    font-weight: bold;
}
/* Settings Divider */
.divider{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
}