.action-wrapper{
    & .button-wrapper{
        margin-left: auto;

        & .button-inner{
            display: flex;
            align-items: center;
            gap: .75rem;

            position: relative;

            background-color: var(--brand-dark);
            height: 3rem;
            width: max-content;
            
            padding: 0.25rem 1.25rem;

            border-radius: 0.25rem;

            cursor: pointer;

            & .button-image{
                background-image: url(./../../assets/icons/ticket.svg);
                background-size: cover;
                width: 1.25rem;
                height: 1.25rem;
            }

            & button{
                position: absolute;
                all: unset;
                inset: 0;

                font: var(--body-md);
                font-weight: 600;
                color: var(--text-heading);
            }

            &:hover{
                background-color: var(--brand-mid);
            }
        }
    }
}