.checkbox-wrapper{
    & .checkbox-toggle{
        height: 3rem;
        & .toggle{
            display: flex;
            align-items: center;

            background-color: var(--input-case);
            border: 1px solid var(--input-stroke);
            border-radius: 2rem;

            width: 4rem;
            height: 2rem;
            position: relative;
            top: calc((3rem - 2rem) / 2);

            cursor: pointer;

            transition: .5s;

            & input,
            & input:focus,
            & input:hover{
                all:unset;

                position: absolute;
                inset: 0;
            }

            &::before{
                content: "";
                position: absolute;

                width: 1.5rem;
                height: 1.5rem;

                left: 0.25rem;

                background-color: var(--input-stroke);
                border-radius: 0.75rem;

                transition: .5s;
            }

            &:has(:checked){
                background-color: var(--brand-light);
                &::before{
                    content: "";
                    left: calc(4rem - 1.75rem);
                    background-color: var(--text-heading);
                }
            }

            & span::before{
                position: absolute;

                content: "Escuro";

                height: 1.25rem;
                top: calc((2rem - 1.25rem) / 2);
                left: 4.75rem;

                font: var(--body-sm);
                color: var(--text-heading);

                cursor: initial;
            }

            &:has(:checked){
                & span::before{
                    content: "Claro";
                }
            }
        }
    }

    .terms-wrapper{
        gap: .25rem;
    
        .input-wrapper{
            display: flex;
            align-items: center;
            gap: 0.75rem;

            padding-block: .25rem;

            & input{
                width: 1.25rem;
                height: 1.25rem;
                padding: unset;

                border-radius: .25rem;
                outline: 2px solid var(--input-stroke);

                &:checked{
                    outline: 2px solid var(--brand-light);

                    background-image: url(./../../assets/icons/check.svg);
                    background-size: cover;
                }

                &:has(:focus) {
                    outline: none;
                }
                
            }

            & label{
                margin-bottom: initial;
            }

            & a{
                font-weight: 600;
                color: var(--brand-light);
            }
        }
    }
}