.droparea-wrapper{
    & .dropzone{
        position: relative;

        display: flex;
        align-items: center;
        gap: .5rem;

        width: max-content;

        & input,
        & input:focus,
        & input:hover{
            all:unset;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        font: var(--body-md);
        color: var(--input-placeholder);

        cursor: pointer;

        & .dropzone-button{
            display: flex;
            align-items: center;
            gap: .5rem;

            width: min-content;
            height: 2.5rem;
            padding: 0.25rem 0.75rem;

            border-radius: .5rem;

            background-color: var(--shape-button);

            & .cover-photo-image{
                background-image: url(./../../assets/icons/upload.svg);
                width: 1rem;
                height: 1rem;
                background-size: cover;
            }

            & label{
                margin-bottom: unset;
                color: var(--text-heading);
            }

            &:hover{
                background-color: var(--shape-hover);
            }
        }
    }
}
