.radio-wrapper-segmented{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 3rem;

    padding: 0.25rem;

    outline: 0.125rem solid var(--input-stroke);

    border-radius: .5rem;
    background-color: var(--input-case);

    .radio-inner{
        display: flex;
        justify-content: center;

        width: calc(100% - 0.25rem);
        height: 2.5rem;
        padding: 0.25rem;
        border-radius: 0.25rem;

        position: relative;

        cursor: pointer;

        & input,
        & input:focus,
        & input:hover{
            all:unset;

            position: absolute;
            inset: 0;
        }

        & .radio-in-person{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & label{
                    font: var(--body-sm);
                    color: var(--text-body);
                }

            & .in-person-icon{
                background-image: url(./../../assets/icons/building-2.svg);
                background-size: cover;
                width: 1rem;
                height: 1rem;
            }
        }

        & .radio-online{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & label{
                    font: var(--body-sm);
                    color: var(--text-body);
                }

            .online-icon{
                background-image: url(./../../assets/icons/video.svg);
                background-size: cover;
                width: 1rem;
                height: 1rem;
            }
        }

        & label{
            margin-bottom: unset;
        }

        &:has(:checked){
            background-color: var(--shape-button);
            cursor: unset;

            & .radio-in-person{
                & label{
                    font-weight: 600;
                    color: var(--text-heading);
                }
                & .in-person-icon{
                    background-image: url(./../../assets/icons/building-2-checked.svg);
                }
            }

            & .radio-online{
                & label{
                    font-weight: 600;
                    color: var(--text-heading);
                }
                & .online-icon{
                    background-image: url(./../../assets/icons/video-checked.svg);
                }
            }
        }
    }
}

.radio-wrapper-color{
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    gap: 0.75rem;
    max-width: 35rem;

    & input[type="radio"]#color{
        width: 2.5rem;
        height: 2.5rem;
        padding: unset;

        border-radius: 50%;
        
        border: 0.375rem solid var(--shape-button);
        outline: unset;

        &:hover{
            border: 0.375rem solid var(--shape-hover);
        }
        &:focus{
            outline: 0.1875rem solid var(--brand-light);
        }

        &[value="brand-light"]{
            background-color: var(--brand-light);
        }
        &[value="navy"]{
            background-color: var(--navy);
        }
        &[value="purple"]{
            background-color: var(--purple);
        }
        &[value="fuschia"]{
            background-color: var(--fuschia);
        }
        &[value="pink"]{
            background-color: var(--pink);
        }
        &[value="danger"]{
            background-color: var(--danger);
        }
        &[value="orange"]{
            background-color: var(--orange);
        }
        &[value="yellow"]{
            background-color: var(--yellow);
        }
        &[value="lime"]{
            background-color: var(--lime);
        }
        &[value="green"]{
            background-color: var(--green);
        }
        &[value="cyan"]{
            background-color: var(--cyan);
        }
    }
}

.radio-wrapper-theme{
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
    gap: .5rem;
    max-width: 35rem;

    & .radio-inner{
        background-color: var(--shape-button);
        border: 0.125rem solid var(--input-stroke);
        border-radius: .5rem;

        display: grid;
        justify-items: center;
        gap: .5rem;

        position: relative;

        width: 8.375rem;
        padding: .25rem .25rem .5rem;

        cursor: pointer;

        & img{
            width: 100%;
            border-radius: .25rem;
        }

        & input,
        & input:hover,
        & input:focus{
            all: unset;

            position: absolute;
            inset: 0;
        }

        & label{
            margin-bottom: unset;
            color: var(--text-heading);
        }

        &:hover{
            background-color: var(--shape-hover);
        }

        &:focus,
        &:focus-within{
            border: 0.125rem solid var(--brand-light);
        }
    }
}