#galery{
    justify-content: center;
    & img{
        width: 20.5rem;
        height: 20.5rem;
    }

    @media (width >= 33.75em){
        grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
        gap: 1.25rem;
        justify-items: center;
        & img{
            width: 17.875rem;
            height: 17.875rem;
            object-fit: cover;
        }
    }
}